$background-color: rgb(255, 255, 255);
$header-color: rgb(7, 39, 63);
$link-color: rgb(221, 62, 24);
$text-color: rgb(0, 0, 0);
$text-color-light: rgb(255, 255, 255);

%background-color {
	color: $background-color;
}
%link-color {
	color: $link-color;
}
%text-color {
	color: $text-color;
}
%text-color-light {
	color: $text-color-light;
}
%header-background-color {
	background-color: $header-color;
}
%footer-background-color {
	background-image: linear-gradient(#E6F0F0,#E9F0E6);
}
